$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);
$Alata: "Alata", sans-serif;
$Josefin-sans: "Josefin Sans", sans-serif;
@mixin headings {
  font-family: $Josefin-sans;
  text-align: center;
}
@mixin width {
  max-width: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hero {
  overflow: hidden;

  background-image: url("./images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

  transition: margin-right 0.5s;
  padding: 16px;

  .desktop-nav {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;

    .hamburger-icon {
      font-size: 30px;
      cursor: pointer;
      color: $white;
    }

    .mobile-menu {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #000;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        font-family: $Alata;
        color: rgba(255, 255, 255, 0.7);
        display: block;
        transition: 0.3s;
      }
      a:hover {
        color: $white;
      }

      .closebtn {
        position: absolute;
        top: 0;
        right: 150px;
        padding: 16px 0;
        font-size: 2rem;
        margin-left: 30px;
        color: white;
      }
    }
  }
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45em;

  p {
    color: $white;
    text-align: left;
    font-size: 3rem;
    font-family: $Josefin-sans;
    line-height: 45px;
    letter-spacing: 1px;
    border: $white solid 1px;
    padding: 25px 30px;
    .hero-block {
      display: block;
    }
  }
}

.interactive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 10em;

  .img {
    @include width();
    img {
      max-width: 100vw;
      padding: 1em 1.5em;
    }
  }

  .text {
    h1 {
      @include headings();
      padding: 2em 0;
      font-size: 2.8rem;
    }
    p {
      font-size: 20px;
      font-family: $Alata;
      color: $very-dark-gray;
      padding: 0 2em;
      text-align: center;
    }
  }
}

.cards-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .desktop-creations {
    display: none;
  }
  .mobile-creations {
    padding: 2em;
    h1 {
      @include headings();
      font-size: 3rem;
      padding: 4em 0 1em 0;
    }

    .card {
      position: relative;
      margin: 50px;
      @include width();
      img {
        max-width: 100vw;
        display: block;
        padding: 1em;
      }
      p {
        position: absolute;
        bottom: 30px;
        left: 20px;
        color: $white;
        font-size: 1.5rem;
        font-family: $Josefin-sans;
      }
    }
    .btn-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        padding: 10px 60px;
        background-color: $white;
        color: #000;
        border: 1px black solid;
        font-family: $Alata;
        font-size: 1rem;
        margin: 3em 0;
      }
    }
  }
}

footer {
  background-color: black;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .footer {
    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .footer-logo {
        img {
          margin: 2em 0;
        }
      }

      .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
          padding: 2px 0;
          font-family: $Alata;
          color: white;
          text-decoration: none;
          font-size: 1rem;
        }
      }
    }
  }

  .socialmedia {
    margin: 2em 0;
    font-family: $Alata;
    color: $dark-gray;
    text-decoration: none;
    font-size: 1rem;
    img {
      padding: 0 10px;
      margin-bottom: 20px;
    }
  }
}
.attribution {
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  text-align: center;
  font-family: $Alata;
  margin: 2em 0;

  .attr-block {
    display: block;
  }

  p {
    color: $dark-gray;
  }
  a {
    color: rgba(14, 83, 68, 0.8);
  }
}
@media screen and (min-width: 800px) {
  .hero {
    background-image: url("./images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;

    .navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 3em;
      
      }
      .mobile-menu {
        display: none;
      }
      .hamburger-icon {
        display: none;
      }
      .desktop-nav {
        display: initial;
        padding-right: 15px;
        .nav-link {
          position: relative;
          text-decoration: none;
          font-size: 15px;
          font-family: $Alata;
          color: $white;
          padding: 0 5px;
        }
        .nav-link::after {
          content: "";
          width: 0%;
          height: 3px;
          position: absolute;
          left: 0%;
          top: 40%;
          bottom: -20px;
          transition: 400ms all;
          background-color: $white;
        }
        .nav-link:hover::after {
          top: 100%;
          width: 60%;
          cursor: pointer;
        }
      }
    }

    .hero-text {
      height: 25rem;
      margin-right: 20em;
      margin-top: 4em;
      p {
        color: $white;
        text-align: left;
        font-size: 4.5rem;
        font-family: $Josefin-sans;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: -3px;
        border: $white solid 2px;
        padding: 15px 20px;
        letter-spacing: 0;
        .hero-block {
          display: inline;
        }
      }
    }
  }

  .interactive-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 12em 0;

    .img {
      border: white solid 50px;
      position: relative;
      bottom: -70%;
      left: -15%;
    }
    .text {
      position: absolute;
      bottom: -60%;
      left: 45%;
      background-color: white;
      h1 {
        @include headings();
        padding: 2em 0;
        font-size: 3rem;
      }
      p {
        font-size: 20px;
        font-family: $Alata;
        color: $very-dark-gray;
        padding: 0 2em;
        text-align: center;
        max-width: 700px;
      }
    }
  }
  .attribution {
    .attr-block {
      display: initial;
    }
  }
}

@media screen and (min-width: 1110px) {
  .hero-text {
    height: 25rem;
    margin-right: 40em;
    margin-top: 4em;
  }

  .cards-section {
    flex-direction: row;

    .mobile-creations {
      display: none;
    }

    .desktop-creations {
      display: initial;
      .creation-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 8em 0 4em 0;

        h1 {
          @include headings();
          font-size: 3.5rem;
          padding: 0;
        }
        button {
          padding: 5px 40px;
          background-color: $white;
          color: #000;
          border: 1px black solid;
          font-family: $Alata;
          font-size: 1.2rem;
          margin: 0;
        }
        button:hover {
          background-color: black;
          color: $white;
          transition: 200ms;
          cursor: pointer;
        }
      }
      .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        gap: 2em;
        .card {
          max-width: 100%;
          position: relative;
          margin: 0;

          img {
            display: block;
            margin: 0;
          }
          p {
            position: absolute;
            bottom: 50px;
            left: 20px;
            color: $white;
            font-size: 1.8rem;
            font-family: $Josefin-sans;
          }
        }
        .card:hover {
          cursor: pointer;

          img {
            opacity: 0.6;
          }
          p {
            color: #000;
          }
        }
      }
    }
  }

  footer {
    background-color: black;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .links {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        margin-right: 22em;

        .footer-logo {
          margin: 7px 0 0 0;
          position: relative;
          left: -22%;
          img {
            margin: 20px 0;
          }
        }
        .footer-links {
          display: flex;
          flex-direction: row;
          justify-content: left;
          align-items: left;

          .footer-a {
            position: relative;
            padding: 0 10px;
          }
          .footer-a::after {
            content: "";
            width: 0%;
            height: 3px;
            position: absolute;
            left: 0%;
            top: 40%;
            transition: 400ms all;
            background-color: $white;
          }
          .footer-a:hover::after {
            top: 100%;
            width: 60%;
            cursor: pointer;
          }
        }
      }

      .socialmedia {
        text-align: right;
        padding: 0 1em;
      }
    }
  }
  .attribution {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    text-align: center;
    font-size: 15px;
    text-align: center;
    font-family: $Alata;
    p {
      color: $dark-gray;
    }
    a {
      color: rgba(14, 83, 68, 0.8);
    }
  }
}
